include README.md
include LICENSE
recursive-include pixlvault/frontend/dist *
include pixlvault/alembic.ini
recursive-include pixlvault/migrations *
include alembic.ini
recursive-include migrations *
recursive-include pixlvault/image_plugins/built-in *.py
recursive-include pixlvault/data/anchors *.npy
recursive-include pixlvault/data/comfyui-workflows/built-in *.json
