include README.md
include LICENSE
recursive-include pixlstash/frontend/dist *
include pixlstash/alembic.ini
recursive-include pixlstash/migrations *
recursive-include pixlstash/image_plugins/built-in *.py
recursive-include pixlstash/data/anchors *.npy
recursive-include pixlstash/data/comfyui-workflows/built-in *.json
