# For EXIF extraction in picture_utils.py
piexif
# For testing (used by test_server.py etc)
httpx
open_clip_torch
fastapi
uvicorn
uvicorn[standard]
setuptools
wheel
twine
numpy
pillow
opencv-python
scipy
platformdirs
tomli
colorlog
onnxruntime
requests
transformers<5.0.0
torch
torchvision
insightface
rapidfuzz
tqdm
einops
spacy
sentence_transformers
pillow-heif
sqlmodel
alembic
nltk
python-jose[cryptography]
dotenv
passlib
bcrypt<4.0.0
ultralytics
psutil
pynvml
